@model LibraryCS.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить книгу</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayFor(item => item.FullName)</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameBook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameBook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aviability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aviability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookAddDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAddDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BookID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary"> Отмена</a>
    </form>
</div>
