@model IEnumerable<LibraryCS.Models.Order>

@{
    ViewData["Title"] = "Close";
}

<h1>Close</h1>

<h4>Order</h4>
<p>
    <a asp-action="Index">Cancel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader.ReaderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader.ReaderLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.NameBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.ReaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.ReaderLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderReturnDate)
            </td>
            <td>
                <a asp-action="CloseOrder" asp-route-id="@item.OrderID">Close</a>
            </td>
        </tr>
        }
    </tbody>
</table>
