@model LibraryCS.Models.Reader

@{
    ViewData["Title"] = "Details";
}

<h1>Полная информация</h1>
<h2>@Html.DisplayFor(item => item.FullName)</h2>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReaderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReaderLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthdayDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthdayDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Order Id</th>
                    <th>Name Book</th>
                    <th>Author</th>
                    <th>Order Date</th>
                    <th>Order Return Date</th>
                </tr>


                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.NameBook)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderReturnDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p><img src="@Url.Content(Model.ReadersPicsPath)"></p>

<form asp-action="AddFileToReader" asp-route-id="@Model.ID" asp-controller="Pictures" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Change" />
</form>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
